body {
    color: #484848;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
    max-width: 1000px;
    margin: 30px auto 30px auto;
}
